<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.personal.dailycron</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>006176C3-30E1-4133-870F-214F2A2DC759</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8C2CFBB-436F-414C-9B68-E245742251C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>807645B4-B451-4AF6-B3E6-347E84212962</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C57B7B04-2087-46DE-AC09-D6496B99D859</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8C2CFBB-436F-414C-9B68-E245742251C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84A37D11-5A45-4F0E-8D66-8B58C49DC5C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C57B7B04-2087-46DE-AC09-D6496B99D859</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3B5BAB5-9AD6-4EE2-8EE4-6CD13C1D7ED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3B5BAB5-9AD6-4EE2-8EE4-6CD13C1D7ED3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84A37D11-5A45-4F0E-8D66-8B58C49DC5C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rohit</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DailyCronHandler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application id "com.runningwithcrayons.Alfred" to run trigger "daily" in workflow "com.personal.dailycron" with argument "test"
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script.scpt</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8C2CFBB-436F-414C-9B68-E245742251C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>daily</string>
				<key>subtext</key>
				<string>Run</string>
				<key>text</key>
				<string>Daily Cron</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>006176C3-30E1-4133-870F-214F2A2DC759</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Running</string>
				<key>title</key>
				<string>Daily Cron Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>84A37D11-5A45-4F0E-8D66-8B58C49DC5C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/local/bin/bash

sh $HOME/alfred-clipboard.sh backup</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-clipboard.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3B5BAB5-9AD6-4EE2-8EE4-6CD13C1D7ED3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>daily</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>807645B4-B451-4AF6-B3E6-347E84212962</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>backup</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C57B7B04-2087-46DE-AC09-D6496B99D859</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>006176C3-30E1-4133-870F-214F2A2DC759</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>807645B4-B451-4AF6-B3E6-347E84212962</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>84A37D11-5A45-4F0E-8D66-8B58C49DC5C6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>A8C2CFBB-436F-414C-9B68-E245742251C3</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>C57B7B04-2087-46DE-AC09-D6496B99D859</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>E3B5BAB5-9AD6-4EE2-8EE4-6CD13C1D7ED3</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
